@font-face {
    font-family: 'Noto Sans', sans-serif;
}
@font-face {    
	font-family: 'Play', sans-serif;
}
@font-face {    
    font-family: 'Caveat', cursive;
}
@font-face {    
    font-family: 'Anonymous Pro', monospace;
}
@font-face {    
   font-family: 'Jura', sans-serif;
}

A:link {font-family: Noto Sans;font-size: 1.0em;font-weight: bold;text-decoration:none; Color:#192492}
A:active {font-family: Noto Sans;font-size: 1.0em;font-weight: bold;text-decoration:none; Color:#192492}
A:visited {font-family: Noto Sans;font-size: 1.0em;font-weight: bold;text-decoration:none; Color:#192492}
A:hover {font-family: Noto Sans;font-size: 1.0em;font-weight: bold;text-decoration:none; background-color:transparent; Color:#ff8040}

html {
margin:0px;
padding:0px;
font-size:14px;
}

body {
margin:0px;
padding:0px;
font-size:14px;
background-color: #fff;
background-image: url(/img-upload/fon.png);
}

div.docscreen{
position: relative;
top:0px;
left:0px;
height: 100%;
width: 100%;
background-color: transparent;
overflow: hidden;
display:block;
}

label.haderfield{
position:absolute;
width:200px;
font-weight: bold;
Color:#192492;
}

label.diaog{
position:absolute;
width:200px;
font-weight: bold;
Color:#000;
}

input.datafield{
position:absolute;
width:200px;
font-weight: bold;
Color:#192492;
}
a.butt { position:absolute;
        text-align:center;
        font-size:13px;
        text-decoration: none;
        font-weight: 700;
        padding: 3px 6px;
        background: #192492;
        display:block;
        width:100px;
        margin: 0px auto;
        /*background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));*/
        border-radius: 3px;
        color: #eaeef1;/*rgba(0,0,0,.6);*/
        /*text-shadow: 0 1px 1px rgba(255,255,255,.7);*/
        /*box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);*/
}

a.butt:hover, a.butt.hover {
        background: #ff8040;
}
a.butt:active, a.butt.active {
        background: #d0d3d6;
        background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
        box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}
table{
  font-weight: normal;
  font-size: 0.8em;
}
/*
a.butt{
  position:absolute;
  background:#eee;
  color:#192492;
  text-decoration:none;
  display:block;
  width:90px;
  text-align:center;
  margin:20px auto;
  padding:5px 5px;
  transition:all 0.3s;
  font-weight: bold;
  font-size: 0.9em;
  border-radius: 6px;
  }
 a.butt:hover{
  box-shadow:0px -5px 0 #192492 inset;
  border-radius: 0px;
}
*/
/*
@font-face{
font-family: Furore;
src: url(font/Furore.otf);
}
@font-face{
font-family: Dieted;
src: url(font/Dited.otf);
}
@font-face{
font-family: Days;
src: url(font/Days.otf);
}
@font-face{
font-family: Molot;
src: url(font/Molot.otf);
}

@font-face {font-family: 'PT Sans'; 
	src: url('font/pts55f_w.eot'); 
	src: url('font/PTS55F_W.eot?#iefix') format('embedded-opentype'), url('font/PTS55F_W.woff') format('woff'),url('font/PTS55F_W.ttf') format('truetype'), url('font/PTS55F_W.svg#PTSans-Regular') format('svg');}


A:link {text-decoration:none; Color:#ffff00}
A:active {text-decoration:none; Color:#ffff00}
A:visited {text-decoration:none; Color:#ffff00}
A:hover {text-decoration:underline; background-color:none; Color:#ffff00}
*/